.links{
    color: white;
    text-decoration: underline;
    font-family: Gill Sans, sans-serif;
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: lighter;
}

.home{
    position: absolute;
    right: 500px;
    top: 20px;
}

.discover{
    position: absolute;
    right: 300px;
    top: 20px;
}

.timeline{
    position: absolute;
    right: 100px;
    top: 20px;
}

